<div id="single_circle_partial" style="display: none;">
	<hr>
	<a href="#" class="right">back</a>
	<%  @circle = Circle.find(circle_id) %>
	<h3> <%=@circle.name %></h3>
	<p>Signup deadline: <%= @circle.signup_deadline %></p>
	<p>Signup deadline: <%= @circle.signup_deadline %></p>
	<p><%= @circle.remix.count %> stems submitted so far</p>
	<button id="mixup_circle" class=<%="#{@circle.id}"%>>Start Mixup!</button>
	<button data-dropdown="join_circle" aria-controls="join_circle" aria-expanded="false" id="submit">Join Circle with Stem</button>
	<button id="submit">Submit Remix</button>

	<ul id="join_circle" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
		<% Producer.find(session[:user]).stems.each do |stem| %>
	  <li><a href="#" class=<%="#{@circle.id}"%> ><%= stem.track_name %></a></li>
	  <% end %>
	</ul>
</div>